.fc-event-main{
    width: 100%;
    overflow: hidden;
}
.parrafo{
    width: 100%;
    position: relative;
  
    text-overflow: ellipsis;
}
.fc-daygrid-event{
    white-space: wrap !important;
}

.fc-daygrid-body  {
        display: none !important;
}

.fc-scrollgrid-sync-inner{
    background-color: #363636 !important;
    color: white;
    padding: 13px 0;
}
tbody{
    font-size: 12px;
    
}


